<div class="dialog-head">
  <div class="box-headline">
    Available Rooms
  </div>
  <p class="m-l-5 pointer-cursor" (click)="close()">&#10006;</p>
</div>

<div class="dialog-main-container h-100">
  <div class="div-room-container">
    <div class="d-flex m-top-4" *ngFor="let element of roomList">
      <div (click)="selectedARoom(element)" class="pointer-cursor">{{ element.name }}</div>
      <p (click)="deleteRoom(element)" class="m-l-5" *ngIf="element.owner === currentUser">&#10006;</p>
    </div>
  </div>
</div>

<div class="dialog-foot m-top-7"></div>
