<div class="d-flex h-100">
  <div class="left-elements w-25 h-100">
    <div class="card">
      <div class="card-body">
        <strong>You:</strong> : {{ clientId }}
        <br />
        <strong>Socket ID</strong> : {{ socketId }}
      </div>
    </div>

    <table class="table table-dark table-striped m-top-2">
      <thead>
        <tr class="text-center">
          <th>In room</th>
          <th>Socket ID</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let client of clients" class="text-center">
          <td>{{ client.clientId }}</td>
          <td>{{ client.socketId }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="w-30 h-100 p-l-3 ml-auto">
    <div class="row w-100" *ngIf="videoEnable">
      <div class="card w-100">
        <div class="card-body">
          <div class="row">
            <div class="col-md-6 text-center">
              <video #videoElement class="img-border" width="{{ videoWidth }}" height="{{ videoHeight }}">
                <source />
              </video>
            </div>
            <div class="col-md-6 text-center">
              <video #remoteVideoElement class="img-border" width="{{ videoWidth }}" height="{{ videoHeight }}">
                <source />
              </video>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row w-100" *ngIf="screenEnable">
      <div class="card w-100">
        <div class="card-body">
          <div class="row">
            <div class="col-md-6 text-center">
              <video #screenElement class="img-border" width="{{ screenWidth }}" height="{{ screenHeight }}">
                <source />
              </video>
            </div>
            <div class="col-md-6 text-center">
              <video #remoteScreenElement class="img-border" width="{{ screenWidth }}" height="{{ screenHeight }}">
                <source />
              </video>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="w-30 h-100 p-l-3 ml-auto">
    <div class="top-buttons w-100">
      <div class="row d-flex">
        <button class="w-45" (click)="enableVideo()">
          Video
        </button>

        <button class="w-45 ml-auto" (click)="enableScreen()">
          Screen
        </button>
      </div>
    </div>

    <div class="main-window w-100 h-93 m-top-2">
      <div class="row h-100">
        <div class="card w-100 h-90">
          <div class="card-body">
            <div *ngFor="let message of messagesList">
              <strong>Client-{{ message.clientId }} : </strong> {{ message.data }}
            </div>
          </div>
        </div>

        <br />
        <div class="d-flex m-top-2 w-100">
          <div class="input-group flex-nowrap">
            <input
              type="text"
              class="w-100 m-r-3"
              placeholder="Enter Message To Send..."
              aria-label="message"
              aria-describedby="addon-wrapping"
              [(ngModel)]="message"
            />
          </div>
          <button type="button" class="btn btn-primary" (click)="sendMessage()">Send</button>
        </div>
      </div>
    </div>
  </div>
</div>
