<div class="d-flex h-100">
  <div class="left-user-info h-100">
    <div class="card">
      <div class="card-body d-flex">
        <strong>You:</strong>
        <div>&nbsp;{{ clientId }}&nbsp;</div>
        <div *ngIf="clientId && currentRoom && clientId === currentRoom.owner">(Owner)</div>
      </div>
    </div>

    <div class="h-76 m-top-3 overflow-auto">
      <table class="table table-dark table-striped m-top-2">
        <thead>
          <tr class="text-center">
            <th>In room</th>
            <th>Audio</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let client of clients" class="text-center">
            <td>{{ client.clientId }}</td>
            <td>
              <audio [id]="client.socketId">
                <source />
              </audio>
              <div class="d-flex h-100">
                <div
                  (click)="onOwnerMuteUser(client.socketId)"
                  *ngIf="checkIfActive(client.socketId)"
                  class="red-microphone-background svg-icon-class sidebar-icon not-inverted"
                ></div>
                <div
                  *ngIf="clientId && currentRoom && clientId === currentRoom.owner"
                  (click)="onOwnerKickUser(client.socketId)"
                  class="close-background svg-icon-class sidebar-icon not-inverted"
                ></div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="m-top-3">
      <p>Video grid size:</p>
      <input class="w-100" type="range" min="1" max="6" value="2" (change)="makeColumns($event.target.value)" />
    </div>
  </div>

  <div class="center-element h-100 p-l-1 ml-auto">
    <div class="card w-100 h-100 overflow-auto">
      <div #cameraDivList class="card-body grid-system-videos">
        <div [ngClass]="{ 'd-none': !localVideoIsPlaying && !localScreenIsShared }" class="w-100 h-auto m-b-3">
          <video #videoElement muted class="video-class">
            <source />
          </video>

          <div class="text-center m-top-2">{{ this.clientId }}</div>
        </div>
      </div>
    </div>
  </div>

  <div class="right-side-chat h-100 p-l-1 ml-auto">
    <div class="top-buttons h-5 w-100">
      <div class="row d-flex h-100">
        <div class="video-background svg-icon-class" (click)="enableVideo()" [class.isActivated]="localVideoIsPlaying"></div>
        <div
          class="ml-auto screen-background svg-icon-class"
          (click)="enableScreen()"
          [class.isActivated]="localScreenIsShared"
        ></div>
        <div
          class="ml-auto audio-background svg-icon-class"
          (click)="enableAudio()"
          [class.isActivated]="localAudioIsPlaying"
        ></div>
      </div>
    </div>

    <div class="main-window w-100 h-94 m-top-2">
      <div class="row h-100">
        <div class="card w-100 h-90">
          <div #messageBox class="card-body overflow-auto h-100">
            <div *ngFor="let message of messagesList">
              <strong>Client-{{ message.clientId }} : </strong> {{ message.data }}
            </div>
          </div>
        </div>

        <br />
        <div class="d-flex m-top-2 w-100">
          <div class="input-group flex-nowrap">
            <input
              type="text"
              class="w-100 m-r-3"
              placeholder="Enter Message To Send..."
              aria-label="message"
              aria-describedby="addon-wrapping"
              [(ngModel)]="message"
            />
          </div>
          <button type="button" class="btn btn-primary" (click)="sendMessage()">Send</button>
        </div>
      </div>
    </div>
  </div>
</div>
