.w-25 {
  width: 25%;
}

.container {
  width: 100%;
  height: calc(100% - 50px);
}

.footer {
  padding-top: 20px;
}

.card {
  background: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
}

.table {
  overflow: auto;
  height: calc(100% - 21%);
}

.w-30 {
  width: 30%;
}

.w-45 {
  width: 45%;
}

.h-90 {
  height: 90%;
}

.h-93 {
  height: 93%;
}

.m-r-3 {
  margin-right: 3%;
}
