@import './variables.scss';

body,
html {
  width: 100%;
  overflow-x: hidden;
}

.element {
  margin-right: 0px;
  padding-right: 0px;
  margin-left: 0px;
  padding-left: 0px;
  padding-top: 0px;
}

.icon-general {
  font-family: 'mes-suite' !important;
  font-style: normal;
  font-weight: normal;

  display: inline-block;
  text-decoration: inherit;

  text-align: center;

  font-variant: normal;
  text-transform: none;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
