.margin-left-10 {
  margin-left: 10%;
}

.button-main-container {
  background-color: #5b6467;
  background-image: linear-gradient(315deg, #5b6467 0%, #8b939a 74%);
  margin: auto;
  cursor: pointer;
  width: 25%;
  height: 20%;
  display: flex;
}

.text-main-container {
  font-size: 1.3vmax;
  margin: auto;
}
