<div class="main-screen-div d-flex row h-100 w-100">
  <div (click)="openCreateRoomDialog()" class="button-main-container">
    <div class="text-main-container">Create A New Room</div>
  </div>
  <div class="button-main-container margin-left-10">
    <div (click)="openEnterRoomDialog()" class="text-main-container">Enter An Existing Room</div>
  </div>
  <div class="button-main-container margin-left-10">
    <div (click)="openStartPrivateConvoDialog()" class="text-main-container">Start A Private Conversation</div>
  </div>
</div>
