<div class="w-100 h-10 row d-flex">
  <button class="ml-auto" (click)="logout()">Logout</button>
</div>

<div class="main-screen-div d-flex row h-90 w-100">
  <div (click)="openCreateRoomDialog()" class="button-main-container">
    <div class="text-main-container">Create A New Room</div>
  </div>
  <div (click)="openEnterRoomDialog()" class="button-main-container margin-left-10">
    <div class="text-main-container">Enter An Existing Room</div>
  </div>
  <div (click)="openStartPrivateConvoDialog()" class="button-main-container margin-left-10">
    <div class="text-main-container">Start A Private Conversation</div>
  </div>
</div>
