<div class="dialog-head">
  <div class="box-headline">
    Room configuration
  </div>
  <p class="ml-auto pointer-cursor" (click)="close()">&#10006;</p>
</div>

<div class="dialog-main-container">
  <div>
    Room name
  </div>

  <input class="m-top-1" [(ngModel)]="roomName" />

  <div class="m-top-4 d-flex">
    <select class="config-dropdown" [(ngModel)]="selectedVideoQuality">
      <option *ngFor="let o of videoOption" [ngValue]="o">
        {{ o.name }}
      </option>
    </select>

    <label class="room-config-label" for="adminCase">Video stream quality</label>
  </div>

  <div class="d-flex">
    <input
      class="input-checkbox"
      id="adminCase"
      type="checkbox"
      [checked]="onlyOwnerCanSee"
      (change)="onlyOwnerCanSee = !onlyOwnerCanSee"
    />
    <label class="room-config-label" for="adminCase">Streams seen only by owner</label>
  </div>
</div>

<div class="dialog-foot m-top-6 d-flex w-100">
  <button class="ml-auto" (click)="acceptAction()">Accept</button>
</div>
