.room-config-label {
  display: block;
  padding-left: 2%;
  white-space: nowrap;
  padding-right: 5%;
}

.input-checkbox {
  margin-top: 3%;
  margin-right: 2%;
  margin-left: 2%;
  transform: scale(2);
}

.config-dropdown {
  height: calc(100% - 0px);
}
